@charset "UTF-8";
/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.ab-main__section {
	background: url('../img/about_bg.jpg') center / cover no-repeat;
}
.ab-main__body {
	display: flex;
	align-items: center;
	height: 400px;
}
.ab-main__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 38px; 
	line-height: 1.2;
	color: #fff;
	margin-top: 150px;
}

/*------------  style ---------------------------------------------------------------*/
.about__content {
	padding: 120px 0 90px;
}
.about__item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	align-items: center;
	margin-bottom: 30px;
	span {
		font-weight: 500;
		font-size: 16px;
		line-height: 140%;
		font-weight: 400;
		a {
			color: #F2933C;
			text-decoration: underline;
		}
	}
}

/*==================================================================================================================*/
/*---------------------------- Media queries -----------------------------------------------------------------------*/
/*==================================================================================================================*/


/*=================================== width:992.98px ================================================================*/
@media screen and (max-width:992.98px) {
	
	
}
/*=================================== width:960.98px ================================================================*/
@media screen and (max-width:960.98px) {
.whyMe__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.item__whyMe {
	.whyMe__count span {
		font-size: 26px;
	}
	p {
		font-size: 13px;
	}
}
.about__item span {
    font-size: 14px;
}

}
/*=================================== width:768.98px ================================================================*/
@media screen and (max-width:768.98px) {
	.about__content {
		padding: 60px 0 30px;
	}
	.about__item {
		grid-template-columns: 1fr;
		gap: 20px;
		span {
			order: 2;
		}
	}
	
}

