@charset "UTF-8";

/*----------------------------------------------*/
/*--------- Background style -------------------*/
/*----------------------------------------------*/
.ibg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	img {
		object-fit: cover;
		height: 850px;
	}
}
/*---------------------------------------------------------------------------------------*/
/*------------ Header style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.mobile-menu {
	display: none;
}
.header {
	background: #ffffff;
	height: 100px;
	position: fixed;
    width: 100%;
    top: 0;
	left: 0;
	z-index: 5;
}
.header__top {
	display: flex;
	justify-content: space-between;
	padding: 18px 0;
}
.header__logo {
	max-width: 190px;
	.logo_desc {
	}
	.logo_mob {
		display: none;
	}
}
.header_contacts {
	display: flex;
	.contacts__item {
		display: flex;
		align-items: center;
		margin-right: 80px;
		img {
			max-width: 32px;
			margin-right: 10px;
		}
	}
	.contacts__address {
		max-width: 215px;
	}
	.contacts__mail,
	.contacts__phone {
		span a:hover {
			color: #F2933C;
		}
	}
}
.header__lang {
	display: flex;
	align-items: center;
	.lang__list {
		list-style: none;
		display: flex;
		li {

		}
		li:not(:last-child) {
			border-right: 1px solid #C9C9C9;
			margin-right: 11px;
			padding-right: 11px;
		}
	}
}
.lang_active {
	color: #F2933C;
	font-weight: 600;
}

.header__bottom {
	background: #F3F4F6;
	.header__bottom-body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
}
.height {
	height: 66px;
}
.head_hide {
	margin-top: -100%;
}
/*---------- Меню ----------------------*/
.close__menu {
	position: absolute;
	top: 15px;
	right: 15px;
	display: none;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
	list-style: none;
	position: relative;
}
.menu__link {
	font-size: 14px;
	font-weight: 500;
	margin: 0 20px 0 0;
	color: #141414;
	padding: 18px 0;
}
.menu__arrow {
	transition: transform 0.3s ease 0s; 
}
.menu__link-product {
	background: #F2933C;
	padding: 17px 22px;
	border-radius: 25px 0 0 25px;
	a {
		color: #fff;
	}
	.arrow__list {
		margin-left: 34px;
	}
}
.carrent-menu__link {
	display: flex;
	cursor: pointer;
	transform: rotateX(0deg);
	z-index: 10;
	img	{
		width: 12px;
		margin-left: 6px;
	}
}
.sub-menu__List {
	position: absolute;
	margin-top: 32px;
	width: 180px;
	text-align: left;
	padding: 20px;
	visibility: hidden;
	opacity: 0;
	transition: transform 0.3s ease 0s; 
	transform: translate(0, 10px);
	background-color: #fff;
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
	background: #F2933C;
	.sub-menu__link:not(:last-child) {
		margin-bottom: 20px;
	}
	a:hover {
		color: #141414;
	}
}
.compatible {
	.sub-menu__List {
		background: #ffffff;
		a:hover {
			color: #F2933C;
		}
	}
}
body._pc .menu__list > li:hover .sub-menu__List {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._pc .menu__list > li:hover .menu__arrow {
	transform: rotate(-180deg);
}
body._touch .menu__list > li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}
body._touch .menu__link {
	flex: 1 1 auto;
}
body._touch .menu__arrow,
body._touch .menu__arrow-mob  {
	margin: 0px 0px 0px 5px;
	transition: transform 0.3s ease 0s;
}
body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(-180deg);
}
body._touch .menu__list > li._active .menu__arrow-mob {
	transform: rotate(-180deg);
}
.header__menu {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	border-radius: 40px;	
}
.search-form__container {
	background: #F2933C;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 5px 20px 5px 12px;
	input[type="search"] {
		border: none;
		background: transparent;
	}
	.search-form__input {
		color: #fff;
		padding: 12px;
	}
	.search-form__submit {
		border: none;
		background: transparent;
		margin-top: 5px;
	}
	input:-webkit-autofill {
		box-shadow: 0px 0px 0px 50px #F2933C inset; 
		border-radius: 5px;
		color: #fff !important;
		border: none;
	}
}
.menu__arrow-mob {
	display: none;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.cn-main__section {
	background: url('../img/about_bg.jpg') center / cover no-repeat;
}
.cn-main__body {
	display: flex;
	align-items: center;
	height: 400px;
}
.cn-main__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 38px; 
	line-height: 1.2;
	color: #fff;
	margin-top: 150px;
}


/*------------ Address style ---------------------------------------------------------------*/
.contacts__section {
	padding: 50px 0 0;
}
.contacts__body {
	display: flex;
	justify-content: space-between;
}
.contacts__address {
	display: flex;
	flex-wrap: wrap;
	.first-address__item {
		width: 100%;
	}
	.address__item {
		margin-top: 55px;
		margin-right: 80px;
		h3 {
			font-weight: 700;
			font-size: 26px;
			margin-bottom: 22px;
		}
		span {
			margin-bottom: 10px;
			display: block;
		}
		.contacts__phone {
			display: flex;
			align-items: center;
			img {
				max-width: 32px;
				margin-right: 6px;
			}
		}
		.contacts__mail {
			display: flex;
			align-items: center;
			img {
				max-width: 32px;
				margin-right: 6px;
			}
		}
	}
}

.contacts__form {
	.form__body {
	}
	.form__title {
		font-weight: 400;
		font-size: 18px;
		margin-bottom: 30px;
		line-height: 140%;
	}
	.form__group {
		display: flex;
		flex-direction: column;
		.form__input {
			font-family: "Montserrat", sans-serif;
			border: 1px solid #e6e6e6;
			background: #f6f6f6;
			border-radius: 10px;
			height: 60px;
			margin-bottom: 20px;
			font-weight: 400;
			font-size: 14px;
			color: #000000;
			padding: 17px;
		}
		.form__textarea {
			font-family: "Montserrat", sans-serif;
			border: 1px solid #e6e6e6;
			background: #f6f6f6;
			border-radius: 10px;
			margin-bottom: 20px;
			font-weight: 400;
			font-size: 14px;
			color: #000000;
			padding: 17px;
		}
		.policy__check {
			a {
				color: #F2933C;
				text-decoration: underline;
			}
		}
	}
	.submit {
		font-weight: 600;
		font-size: 14px;
		line-height: 18px; 
		line-height: 1.3;
		color: #fff;
		border: none;
		background: #f2933c;
		border-radius: 25px;
		padding: 16px 47px;
		margin-top: 20px;
		cursor: pointer;
		&:hover {
			background: #db822f;
		}
	}
}

.map__block {
	margin-top: 50px;
	width: 100%;
	iframe {
		width: 100%;
	}
}

/*------------  style ---------------------------------------------------------------*/



/*----------------------------------------------------------------------------------------*/
/*------------------ Footer style --------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.footer {
	background: #272A2C;
	width: 100%;
}
.footer__body {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 30px;
	padding: 70px 0 55px;
}
.footer_widget {
	h3 {
		color: #F2933C;
		font-size: 20px;
		margin-bottom: 17px;
		font-weight: 500;
	}
	li {
		margin: 12px 0 12px 6px;
		a {
			color: #fff;
			&:hover {
				color: #F2933C;
			}
		}
	}
}
.footer__address {
	.footer__address-title {
	}
	.footer__address-list {
		li {
			img {
				max-width: 14px;
				margin-right: 10px;
			}
		}
	}
}
.footer__copyright {
	background: #F3F4F6;
	padding: 22px 0;
	.copyright__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		span {
			font-size: 14px;
			font-weight: 500;
		}
		a {
			text-decoration: underline;
			&:hover {
				color: #F2933C;
			}
		}
	}
}



/*==================================================================================================================*/
/*---------------------------- Media queries -----------------------------------------------------------------------*/
/*==================================================================================================================*/

@media screen and (max-width:1100.98px) {
	.header_contacts .contacts__item {
		margin-right: 15px;
	}
}
/*=================================== width:992.98px ================================================================*/
@media screen and (max-width:992.98px) {
	.contacts__address {
		.address__item {
			.contacts__phone {
				img {
					display: block;
				}
			}
		}
	}
	
}
/*=================================== width:960.98px ================================================================*/
@media screen and (max-width:960.98px) {
.header__bottom .header__bottom-body {
	justify-content: flex-end;
	padding: 10px 0;
}
.header__logo .logo_desc {
	display: none;
}
.header__logo .logo_mob {
	display: block;
}
.header__lang {
    margin-right: 70px;
}
.contacts__phone img {
	display: none;
}

/*-------------------------------------------------------------*/
/*-------------- Mobile menu style ----------------------------*/
/*-------------------------------------------------------------*/
.mobile-menu {
	display: block;
	z-index: 5;
	position: absolute;
	width: 32px;
	height: 32px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	span {
		position: absolute;
		left: 0;
		top: 8px;
		height: 3px;
		width: 27px;
		background-color: #1A1A1A;
		transition: all 0.3s ease 0s;
		border-radius: 2px;
	}
	&::before,
	&::after {
		position: absolute;
		left: 0;
		height: 3px;
		background-color: #1A1A1A;
		transition: all 0.3s ease 0s;
		border-radius: 2px;
		width: 27px;
	}
	&::before,
	&::after {
		content: '';
	}
	&::before {
		top: 15px;
		left: 0;
	}
	&::after {
		bottom:7px;
		left: 0;
	}
	&._active span {
		transform: scale(0) translate(0px, -50%);
	}
	&._active::before {
		top: 50%;
		left: 4px;
		width: 24px;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	&._active::after {
		top: 50%;
		left: 2px;
		width: 24px;
		transform: rotate(45deg) translate(0px, -50%);
	}
}
.header__menu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	padding: 30px;
	transition: left 0.2s ease 0s;
	background: #F2933C;
	border-radius: 0;
	align-items: start;
	overflow-y: auto;
}
.header__menu._active {
	left: 0;
}
.menu__list {
    flex-direction: column;
	width: 100%;
	padding-top: 80px;
	li {
		font-size: 24px;
		flex-wrap: wrap;
		a {
			color: #fff;
		}
	}
}
.menu__link-product {
	padding: 0 0 15px 0;
}
.menu__link .menu__arrow {
	width: 20px;
	height: 20px;
}
.menu__link li a:focus {
	text-decoration: none;
}
.menu__arrow-desc {
	display: none;
}
.menu__link .menu__arrow-mob {
	display: block;
	width: 20px;
	height: 20px;
}
.sub-menu__List {
	position: relative;
    margin-top: 32px;
    padding: 20px;
	width: 100%;
	visibility: visible;
    opacity: 1;
	background: transparent;
	box-shadow: none;
	margin-top: 0;
	display: none;
	
	li {
		font-size: 18px;
		a {
			color: #fff;
		}
	}
}
.menu__list > li._active .sub-menu__List {
	display: block;
}
.compatible .sub-menu__List {
    background: transparent;
}
/*-------------------------------------------------------------*/
/*------------ And mobile menu style --------------------------*/
/*-------------------------------------------------------------*/

.header_contacts {
	.contacts__address {
		display: none;
	}
	.contacts__mail {
		display: none;
	}
}
.whyMe__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.item__whyMe {
	.whyMe__count span {
		font-size: 26px;
	}
	p {
		font-size: 13px;
	}
}



}
/*=================================== width:768.98px ================================================================*/
@media screen and (max-width:768.98px) {
	.contacts__body {
		flex-direction: column;
		.contacts__form {
			margin-top: 40px;
			.form__title {
				font-size: 15px;
			}
		}
	}
	
}
/*=================================== width:549.98px ================================================================*/
@media screen and (max-width:549.98px) {
	.footer__copyright .copyright__body {
		flex-direction: column;
		span {
			margin: 5px 0;
		}
	}
}
/*=================================== width:479.98px ================================================================*/
@media screen and (max-width:479.98px) {
	
	.search-form__container {
		.search-form__input {
			padding: 6px;
		} 
		.search-form__submit {
			margin-top: 4px;
		}
	}
	.contacts__form {
		.form__group {
			.form__input {
				height: 50px;
				margin-bottom: 15px;
				font-size: 13px;
			}
		}
	}
	.contacts__address {
		.address__item {
			margin-right: 0;
		}
	}

	.footer__body {
		justify-content: flex-start;
		.footer__logo {
			width: 100%;
			a img {
				max-width: 220px;
			}
		}
		.footer__nav {
			width: 40%;
		}
		.footer__prod {
			width: 40%;
		}
	}
}
/*=================================== width:375.98px ================================================================*/
@media screen and (max-width: 375.98px){
	
}