@charset "UTF-8";

/*----------------------------------------------*/
/*--------- Background style -------------------*/
/*----------------------------------------------*/
.ibg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	img {
		object-fit: cover;
		height: 850px;
	}
}
/*---------------------------------------------------------------------------------------*/
/*------------ Header style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.mobile-menu {
	display: none;
}
.header {
	background: #ffffff;
	height: 100px;
	z-index: 3;
}
.header__top {
	display: flex;
	justify-content: space-between;
	padding: 18px 0;
}
.header__logo {
	max-width: 190px;
}
.header_contacts {
	display: flex;
	.contacts__item {
		display: flex;
		align-items: center;
		margin-right: 80px;
		img {
			max-width: 32px;
			margin-right: 10px;
		}
	}
	.contacts__address {
		max-width: 215px;
	}
	.contacts__phone {
	}
	.contacts__mail {
	}
}
.header__lang {
	display: flex;
	align-items: center;
	.lang__list {
		list-style: none;
		display: flex;
		li {

		}
		li:not(:last-child) {
			border-right: 1px solid #C9C9C9;
			margin-right: 11px;
			padding-right: 11px;
		}
	}
}

.header__bottom {
	background: #F3F4F6;
	.header__bottom-body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
}
.header__menu {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 40px;
	.menu__list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
		list-style: none;
		.arrow_mob {
			display: none;
		}
		.menu__link {
			font-size: 14px;
			font-weight: 500;
			margin: 0 14px;
			color: #141414;
			padding: 12px 0;
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.menu__link-product {
			background: #F2933C;
			color: #fff;
			padding: 12px 22px;
			border-radius: 25px 0 0 25px;
			.arrow__list {
				margin-left: 34px;
			}
		}
		.carrent-menu__link {
			&:hover {
				text-decoration: underline;
			}
		}
		.carrent-menu__link {
			display: flex;
			position: relative;
			cursor: pointer;
			transform: rotateX(0deg);
			z-index: 10;
			img	{
				width: 12px;
				margin-left: 6px;
			}
			.sub-menu__List {
				position: absolute;
				margin-top: 45px;
				width: 126%;
				text-align: left;
				padding: 20px 15px;
				visibility: hidden;
				opacity: 0;
				transition: opacity 0.5s ease, transform 0.5s ease; 
				transform-origin: top center;
				background-color: #fff;
				box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
				.sub-menu__link:not(:last-child) {
					margin-bottom: 20px;
				}
				.sub-menu__link {
					a:hover {
						color: #000;
						&:before {
							content: "";
							position: absolute;
							top: 100%;
							left: 50%;
							width: 0;
							height: 1px;
							background: #000000;
							transition: all .5s ease;
						}
						&:hover:before {
							width: 100%;
							left: 0;
						}
						&:hover {
							color: #030303;
						}
					}
				}
				
			}
		}
	}
	
}

.header-search {
}
.search-form__container {
	background: #F2933C;
	border-radius: 20px;
	display: flex;
	align-items: center;
	padding: 0 20px 0 12px;
	input[type="search"] {
		border: none;
		background: transparent;
	}
	.search-form__input {
		color: #fff;
		padding: 12px;
	}
	.search-form__submit {
		border: none;
		background: transparent;
		margin-top: 5px;
	}
	input:-webkit-autofill {
		box-shadow: 0px 0px 0px 50px #F2933C inset; 
		border-radius: 5px;
		color: #fff !important;
		border: none;
	}
}


/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/








/*----------------------------------------------------------------------------------------*/
/*------------ Footer style --------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.footer {
	background: #272A2C;
	height: 200px;
	width: 100%;
}





/*=========================================================================================*/
/*=========================================================================================*/
/*---------------------------- Media queries ----------------------------------------------*/
/*=========================================================================================*/
/*=========================================================================================*/
@media screen and (max-width:1100.98px) {
	.header_contacts .contacts__item {
		margin-right: 15px;
	}

}
@media screen and (max-width:960.98px) {
	/*-------- Mobile menu style ---------*/
	.mobile-menu {
		display: block;
		z-index: 5;
		position: absolute;
		width: 32px;
		height: 32px;
		cursor: pointer;
		position: absolute;
		span {
			position: absolute;
			left: 0;
			top: 8px;
			height: 3px;
			width: 27px;
			background-color: #1A1A1A;
			transition: all 0.3s ease 0s;
			border-radius: 2px;
		}
		&::before,
		&::after {
			position: absolute;
			left: 0;
			height: 3px;
			background-color: #1A1A1A;
			transition: all 0.3s ease 0s;
			border-radius: 2px;
			width: 27px;
		}
		&::before,
		&::after {
			content: '';
		}
		&::before {
			top: 15px;
			left: 0;
		}
		&::after {
			bottom:7px;
			left: 0;
		}
		&._active span {
			transform: scale(0) translate(0px, -50%);
		}
		&._active::before {
			top: 50%;
			left: 4px;
			width: 24px;
			transform: rotate(-45deg) translate(0px, -50%);
		}
		&._active::after {
			top: 50%;
			left: 3px;
			width: 24px;
			transform: rotate(45deg) translate(0px, -50%);
		}
	}

	.header__menu {
		visibility: hidden;
		opacity: 0;
		transform: translateX(-100%);
		transition: all 0.2s ease 0s;
	}




	.carrent-menu__link img {
		transition: transform 0.5s ease; /* добавляем анимацию поворота для изображения */
	}

	.carrent-menu__link.clicked img {
		transform: rotate(180deg); /* поворачиваем изображение на 180 градусов при активации */
	}
	.carrent-menu__link.clicked .sub-menu__List {
		visibility: visible;
		opacity: 1;
	}
	/*-------- And mobile menu style -----------*/


	.header_contacts {
		.contacts__address {
			display: none;
		}
		.contacts__mail {
			display: none;
		}
	}
}

@media screen and (max-width:768.98px) {

}

@media screen and (max-width:549.98px) {
	
}

@media screen and (max-width:479.98px) {


}

@media screen and (max-width: 375.98px){
	
}