@charset "UTF-8";
/*----------------------------------------------*/
/*--------- Background style -------------------*/
/*----------------------------------------------*/
.ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 850px;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Header style -------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.mobile-menu {
  display: none;
}

.header {
  background: #ffffff;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}

.header__logo {
  max-width: 190px;
}
.header__logo .logo_mob {
  display: none;
}

.header_contacts {
  display: flex;
}
.header_contacts .contacts__item {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.header_contacts .contacts__item img {
  max-width: 32px;
  margin-right: 10px;
}
.header_contacts .contacts__address {
  max-width: 215px;
}
.header_contacts .contacts__mail span a:hover,
.header_contacts .contacts__phone span a:hover {
  color: #F2933C;
}

.header__lang {
  display: flex;
  align-items: center;
}
.header__lang .lang__list {
  list-style: none;
  display: flex;
}
.header__lang .lang__list li:not(:last-child) {
  border-right: 1px solid #C9C9C9;
  margin-right: 11px;
  padding-right: 11px;
}

.lang_active {
  color: #F2933C;
  font-weight: 600;
}

.header__bottom {
  background: #F3F4F6;
}
.header__bottom .header__bottom-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.height {
  height: 66px;
}

.head_hide {
  margin-top: -100%;
}

/*---------- Меню ----------------------*/
.close__menu {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  list-style: none;
  position: relative;
}

.menu__link {
  font-size: 14px;
  font-weight: 500;
  margin: 0 20px 0 0;
  color: #141414;
  padding: 18px 0;
}

.menu__arrow {
  transition: transform 0.3s ease 0s;
}

.menu__link-product {
  background: #F2933C;
  padding: 17px 22px;
  border-radius: 25px 0 0 25px;
}
.menu__link-product a {
  color: #fff;
}
.menu__link-product .arrow__list {
  margin-left: 34px;
}

.carrent-menu__link {
  display: flex;
  cursor: pointer;
  transform: rotateX(0deg);
  z-index: 10;
}
.carrent-menu__link img {
  width: 12px;
  margin-left: 6px;
}

.sub-menu__List {
  position: absolute;
  margin-top: 32px;
  width: 180px;
  text-align: left;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s ease 0s;
  transform: translate(0, 10px);
  background-color: #fff;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  background: #F2933C;
}
.sub-menu__List .sub-menu__link:not(:last-child) {
  margin-bottom: 20px;
}
.sub-menu__List a:hover {
  color: #141414;
}

.compatible .sub-menu__List {
  background: #ffffff;
}
.compatible .sub-menu__List a:hover {
  color: #F2933C;
}

body._pc .menu__list > li:hover .sub-menu__List {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._pc .menu__list > li:hover .menu__arrow {
  transform: rotate(-180deg);
}

body._touch .menu__list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

body._touch .menu__link {
  flex: 1 1 auto;
}

body._touch .menu__arrow,
body._touch .menu__arrow-mob {
  margin: 0px 0px 0px 5px;
  transition: transform 0.3s ease 0s;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}

body._touch .menu__list > li._active .menu__arrow-mob {
  transform: rotate(-180deg);
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 40px;
}

.search-form__container {
  background: #F2933C;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 12px;
}
.search-form__container input[type=search] {
  border: none;
  background: transparent;
}
.search-form__container .search-form__input {
  color: #fff;
  padding: 12px;
}
.search-form__container .search-form__submit {
  border: none;
  background: transparent;
  margin-top: 5px;
}
.search-form__container input:-webkit-autofill {
  box-shadow: 0px 0px 0px 50px #F2933C inset;
  border-radius: 5px;
  color: #fff !important;
  border: none;
}

.menu__arrow-mob {
  display: none;
}

/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.main__section {
  min-height: 800px;
  background: url("../img/main_bg.jpg") center/cover no-repeat;
}

.main__body {
  padding-top: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__body .main__title {
  font-size: 46px;
  font-weight: 700;
  color: #fff;
  max-width: 663px;
  margin-bottom: 28px;
}
.main__body .main__list li {
  color: #fff;
  margin-bottom: 10px;
}
.main__body .main__btn {
  margin-top: 40px;
}
.main__body .main__btn .main__btn-list {
  padding: 12px 40px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(180deg, #f6a75e 0%, #d38237 100%);
}
.main__body .main__btn .main__btn-list:hover {
  background: linear-gradient(180deg, #fcae65 0%, #e08b3b 100%);
}

/*------------ advantages style ---------------------------------------------------------------*/
.advantages__section {
  background: #F3F4F6;
}

.advantages__body {
  padding: 65px 0;
}

.advantages__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.item__advantages {
  display: flex;
  align-items: center;
  max-width: 260px;
}
.item__advantages img {
  max-width: 64px;
  margin-right: 15px;
}
.item__advantages span {
  font-weight: 500;
  font-size: 14px;
}

/*------------ Why do they choose style ---------------------------------------------------------------*/
.whyMe__section {
  padding: 120px 0;
}

.whyMe__title {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 42px;
}

.whyMe__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.item__whyMe {
  background: #F4F4F4;
  border-radius: 15px;
  padding: 25px;
}
.item__whyMe .whyMe__count {
  margin-bottom: 18px;
  display: flex;
  align-items: flex-end;
}
.item__whyMe .whyMe__count img {
  max-width: 139px;
  margin-right: 10px;
}
.item__whyMe .whyMe__count span {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 12px;
}
.item__whyMe p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  line-height: 1.4;
}

/*----------------------------------------------------------------------------------------*/
/*------------------ Footer style --------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
.footer {
  background: #272A2C;
  width: 100%;
}

.footer__body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 70px 0 55px;
}

.footer_widget h3 {
  color: #F2933C;
  font-size: 20px;
  margin-bottom: 17px;
  font-weight: 500;
}
.footer_widget li {
  margin: 12px 0 12px 6px;
}
.footer_widget li a {
  color: #fff;
}
.footer_widget li a:hover {
  color: #F2933C;
}

.footer__address .footer__address-list li img {
  max-width: 14px;
  margin-right: 10px;
}

.footer__copyright {
  background: #F3F4F6;
  padding: 22px 0;
}
.footer__copyright .copyright__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright .copyright__body span {
  font-size: 14px;
  font-weight: 500;
}
.footer__copyright .copyright__body a {
  text-decoration: underline;
}
.footer__copyright .copyright__body a:hover {
  color: #F2933C;
}

/*==================================================================================================================*/
/*---------------------------- Media queries -----------------------------------------------------------------------*/
/*==================================================================================================================*/
@media screen and (max-width: 1100.98px) {
  .header_contacts .contacts__item {
    margin-right: 15px;
  }
}
/*=================================== width:992.98px ================================================================*/
@media screen and (max-width: 992.98px) {
  .item__advantages {
    flex-wrap: wrap;
  }
}
/*=================================== width:960.98px ================================================================*/
@media screen and (max-width: 960.98px) {
  .header__bottom .header__bottom-body {
    justify-content: flex-end;
    padding: 10px 0;
  }
  .header__logo .logo_desc {
    display: none;
  }
  .header__logo .logo_mob {
    display: block;
  }
  .header__lang {
    margin-right: 70px;
  }
  .contacts__phone img {
    display: none;
  }
  /*-------------------------------------------------------------*/
  /*-------------- Mobile menu style ----------------------------*/
  /*-------------------------------------------------------------*/
  .mobile-menu {
    display: block;
    z-index: 5;
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    right: 10px;
  }
  .mobile-menu span {
    position: absolute;
    left: 0;
    top: 8px;
    height: 3px;
    width: 27px;
    background-color: #1A1A1A;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .mobile-menu::before, .mobile-menu::after {
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #1A1A1A;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
    width: 27px;
  }
  .mobile-menu::before, .mobile-menu::after {
    content: "";
  }
  .mobile-menu::before {
    top: 15px;
    left: 0;
  }
  .mobile-menu::after {
    bottom: 7px;
    left: 0;
  }
  .mobile-menu._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .mobile-menu._active::before {
    top: 50%;
    left: 4px;
    width: 24px;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .mobile-menu._active::after {
    top: 50%;
    left: 2px;
    width: 24px;
    transform: rotate(45deg) translate(0px, -50%);
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 30px;
    transition: left 0.2s ease 0s;
    background: #F2933C;
    border-radius: 0;
    align-items: start;
    overflow-y: auto;
  }
  .header__menu._active {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    width: 100%;
    padding-top: 80px;
  }
  .menu__list li {
    font-size: 24px;
    flex-wrap: wrap;
  }
  .menu__list li a {
    color: #fff;
  }
  .menu__link-product {
    padding: 0 0 15px 0;
  }
  .menu__link .menu__arrow {
    width: 20px;
    height: 20px;
  }
  .menu__link li a:focus {
    text-decoration: none;
  }
  .menu__arrow-desc {
    display: none;
  }
  .menu__link .menu__arrow-mob {
    display: block;
    width: 20px;
    height: 20px;
  }
  .sub-menu__List {
    position: relative;
    margin-top: 32px;
    padding: 20px;
    width: 100%;
    visibility: visible;
    opacity: 1;
    background: transparent;
    box-shadow: none;
    margin-top: 0;
    display: none;
  }
  .sub-menu__List li {
    font-size: 18px;
  }
  .sub-menu__List li a {
    color: #fff;
  }
  .menu__list > li._active .sub-menu__List {
    display: block;
  }
  .compatible .sub-menu__List {
    background: transparent;
  }
  /*-------------------------------------------------------------*/
  /*------------ And mobile menu style --------------------------*/
  /*-------------------------------------------------------------*/
  .header_contacts .contacts__address {
    display: none;
  }
  .header_contacts .contacts__mail {
    display: none;
  }
  .whyMe__items {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .item__whyMe .whyMe__count span {
    font-size: 26px;
  }
  .item__whyMe p {
    font-size: 13px;
  }
}
/*=================================== width:768.98px ================================================================*/
@media screen and (max-width: 768.98px) {
  .main__body {
    padding-top: 33%;
  }
  .advantages__body {
    padding: 35px 0;
  }
  .advantages__body .advantages__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .advantages__body .advantages__items .item__advantages {
    justify-content: center;
  }
  .advantages__body .advantages__items .item__advantages img {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .advantages__body .advantages__items .item__advantages span {
    text-align: center;
  }
}
/*=================================== width:549.98px ================================================================*/
@media screen and (max-width: 549.98px) {
  .footer__copyright .copyright__body {
    flex-direction: column;
  }
  .footer__copyright .copyright__body span {
    margin: 5px 0;
  }
}
/*=================================== width:479.98px ================================================================*/
@media screen and (max-width: 479.98px) {
  .main__section {
    min-height: 600px;
  }
  .main__body .main__title {
    font-size: 32px;
  }
  .main__body {
    padding-top: 210px;
  }
  .search-form__container .search-form__input {
    padding: 6px;
  }
  .search-form__container .search-form__submit {
    margin-top: 4px;
  }
  .footer__body {
    justify-content: flex-start;
  }
  .footer__body .footer__logo {
    width: 100%;
  }
  .footer__body .footer__logo a img {
    max-width: 220px;
  }
  .footer__body .footer__nav {
    width: 40%;
  }
  .footer__body .footer__prod {
    width: 40%;
  }
}
/*=================================== width:375.98px ================================================================*//*# sourceMappingURL=index.css.map */