
/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.main__section {
	min-height: 800px;
	background: url('../img/main_bg.jpg') center / cover no-repeat;
}
.main__body {
	padding-top: 22%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.main__title {
		font-size: 46px;
		font-weight: 700;
		color: #fff;
		max-width: 663px;
		margin-bottom: 28px;
	}
	.main__list {
		li {
			color: #fff;
			margin-bottom: 10px;
		}
	}
	.main__btn {
		margin-top: 40px;
		.main__btn-list {
			padding: 12px 40px;
			border-radius: 30px;
			font-size: 14px;
			font-weight: 600;
			color: #fff;
			background: linear-gradient(180deg, #f6a75e 0%, #d38237 100%);
			&:hover {
				background: linear-gradient(180deg, #fcae65 0%, #e08b3b 100%);
			}
		}
	}
}

/*------------ advantages style ---------------------------------------------------------------*/
.advantages__section {
	background: #F3F4F6;
}
.advantages__body {
	padding: 65px 0;
}
.advantages__items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.item__advantages {
	display: flex;
	align-items: center;
	max-width: 260px;
	img {
		max-width: 64px;
		margin-right: 15px;
	}
	span {
		font-weight: 500;
		font-size: 14px;
	}
}

/*------------ Why do they choose style ---------------------------------------------------------------*/
.whyMe__section {
	padding: 120px 0;
}
.whyMe__title {
	font-weight: 600;
	font-size: 36px;
	margin-bottom: 42px;
}
.whyMe__items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
}
.item__whyMe {
	background: #F4F4F4;
	border-radius: 15px;
	padding: 25px;
	.whyMe__count {
		margin-bottom: 18px;
		display: flex;
    	align-items: flex-end;
		img {
			max-width: 139px;
			margin-right: 10px;
		}
		span {
			font-weight: 600;
			font-size: 30px;
			margin-bottom: 12px;
		}
	}
	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px; 
		line-height: 1.4;
	}
}





/*==================================================================================================================*/
/*---------------------------- Media queries -----------------------------------------------------------------------*/
/*==================================================================================================================*/

@media screen and (max-width:1100.98px) {
	.header_contacts .contacts__item {
		margin-right: 15px;
	}
}
/*=================================== width:992.98px ================================================================*/
@media screen and (max-width:992.98px) {
	.item__advantages {
		flex-wrap: wrap;
	}
}
/*=================================== width:960.98px ================================================================*/
@media screen and (max-width:960.98px) {
	.whyMe__items {
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
	}
	.item__whyMe {
		.whyMe__count span {
			font-size: 26px;
		}
		p {
			font-size: 13px;
		}
	}

}
/*=================================== width:768.98px ================================================================*/
@media screen and (max-width:768.98px) {
	.main__body {
		padding-top: 33%;
	}
	.advantages__body {
		padding: 35px 0;
		.advantages__items {
			grid-template-columns: repeat(2, 1fr);
			.item__advantages {
				justify-content: center;
				img {
					margin-bottom: 10px;
					margin-right: 0;
				}
				span {
					text-align: center;
				}
			}
		}
	}
}

/*=================================== width:479.98px ================================================================*/
@media screen and (max-width:479.98px) {
	.main__section {
		min-height: 600px;
	}
	.main__body .main__title {
		font-size: 32px;
	}
	.main__body {
		padding-top: 210px;
	}
}
