/*---------------------------------------------------------------------------------------*/
/*------------ Main style ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.prod__section {
  background: url("../img/prod_bg.jpg") center/cover no-repeat;
}

.prod__body {
  display: flex;
  align-items: center;
  height: 350px;
}
.prod__body .prod__title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-top: 100px;
}

/*------------- Breadcrumb -------------------------------------------------------------------*/
.breadcrumb__section {
  padding: 30px 0;
}

.breadcrumb {
  display: flex;
  justify-content: center;
}

.breadcrumb__list {
  display: flex;
  align-items: center;
}
.breadcrumb__list li {
  margin: 0 10px;
}
.breadcrumb__list li a img {
  max-width: 22px;
}
.breadcrumb__list li a:hover {
  color: #F2933C;
}
.breadcrumb__list li a {
  color: #B8B8B8;
}

/*------------- shop -------------------------------------------------------------------*/
.shop__section {
  background: #F3F4F6;
  padding: 15px 0;
}

.shop__body {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 16px;
  justify-content: center;
}

.filter__button {
  display: none;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  background: #F2933C;
  border-radius: 25px;
  padding: 15px 0;
  color: #fff;
  margin: 10px 0 20px;
}
.filter__button img {
  max-width: 22px;
  margin-right: 6px;
}

.widget-sidebar {
  background: #fff;
  border-radius: 15px;
  width: 100%;
  padding: 20px;
}

.widget_product_categories {
  width: 100%;
  padding: 30px 0;
}

.widget_product_categories:not(:last-child) {
  border-bottom: 1px solid #b8b8b8;
}

.widget_product_categories:first-child {
  padding-top: 0;
}

.widget-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.product-categories li {
  margin-bottom: 13px;
}
.product-categories li label {
  position: relative;
  margin-left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.product-categories li label:hover {
  color: #F2933C;
}
.product-categories li label input[type=checkbox] {
  margin-right: 7px;
  width: 16px;
  height: 16px;
}

.product__grid {
  background: #fff;
  border-radius: 15px;
  padding: 19px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.loop-product__link {
  border: 1px solid #f0f1f3;
  border-radius: 10px;
  background: #f0f1f3;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease 0s;
  position: relative;
  height: 100%;
}
.loop-product__link .attachment_thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
}
.loop-product__link .articul {
  font-size: 14px;
  padding: 3px 14px;
  background: #777777;
  color: #fff;
  text-align: right;
  position: absolute;
  bottom: 100px;
  right: 0;
}
.loop-product__link:hover {
  border: 1px solid #F2933C;
  background: #F2933C;
}
.loop-product__link:hover .product__title {
  color: #fff;
}
.loop-product__link:hover .oem_number {
  color: #fff;
}
.loop-product__link .product__title {
  margin: 14px 10px;
  font-weight: 600;
  font-size: 16px;
  height: 100%;
  line-height: 130%;
}
.loop-product__link .oem_number {
  margin: 0 14px 18px;
  font-size: 12px;
}

#showMoreBtn {
  border: none;
  font-size: 16px;
  padding: 15px 30px;
  color: #fff;
  background: #F2933C;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
}
#showMoreBtn:hover {
  background: #e08938;
}

/*==================================================================================================================*/
/*---------------------------- Media queries -----------------------------------------------------------------------*/
/*==================================================================================================================*/
/*=================================== width:992.98px ================================================================*/
@media screen and (max-width: 992.98px) {
  .products__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .shop__body {
    grid-template-columns: 220px 1fr;
  }
}
/*=================================== width:768.98px ================================================================*/
@media screen and (max-width: 768.98px) {
  .main__body {
    padding-top: 33%;
  }
  .products__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}
/*=================================== width:600.98px ================================================================*/
@media screen and (max-width: 600.98px) {
  .shop__body {
    grid-template-columns: 180px 1fr;
    gap: 8px;
  }
}
/*=================================== width:549.98px ================================================================*/
@media screen and (max-width: 549.98px) {
  .shop__body {
    grid-template-columns: 1fr;
  }
  .product__grid {
    padding: 10px;
  }
  .filter__button {
    display: flex;
  }
  .widget-sidebar {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
  }
  .widget-sidebar.show {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}
/*=================================== width:479.98px ================================================================*/
@media screen and (max-width: 479.98px) {
  .main__section {
    min-height: 600px;
  }
  .main__body .main__title {
    font-size: 32px;
  }
  .main__body {
    padding-top: 210px;
  }
  .search-form__container .search-form__input {
    padding: 6px;
  }
  .search-form__container .search-form__submit {
    margin-top: 4px;
  }
}
/*=================================== width:414.98px ================================================================*/
@media screen and (max-width: 414.98px) {
  .loop-product__link .product__title {
    font-size: 14px;
  }
}/*# sourceMappingURL=products.css.map */